/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.blobCont {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.blob {
  stroke: #FFF;
  stroke-width: 4;
}
@for $i from 1 through 18 {
  $a: #{$i*90};
  $b: #{$i*90+360};

  .blob:nth-child(#{$i}) {
    animation: move#{$i} 15s infinite linear;
  }
  @keyframes move#{$i} {
    from {
      transform: rotate(#{$a}deg) translate(20vw ,0.1px) rotate(-#{$a}deg);
    }

    to {
      transform: rotate(#{$b}deg) translate(20vw ,0.1px) rotate(-#{$b}deg);
    }
  }
}