/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
<<<<<<< HEAD
/* line 5, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
=======
/* line 5, ../../../../.rvm/gems/ruby-2.4.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

<<<<<<< HEAD
/* line 22, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
=======
/* line 22, ../../../../.rvm/gems/ruby-2.4.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
html {
  line-height: 1;
}

<<<<<<< HEAD
/* line 24, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
=======
/* line 24, ../../../../.rvm/gems/ruby-2.4.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
ol, ul {
  list-style: none;
}

<<<<<<< HEAD
/* line 26, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
=======
/* line 26, ../../../../.rvm/gems/ruby-2.4.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
table {
  border-collapse: collapse;
  border-spacing: 0;
}

<<<<<<< HEAD
/* line 28, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
=======
/* line 28, ../../../../.rvm/gems/ruby-2.4.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

<<<<<<< HEAD
/* line 30, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
=======
/* line 30, ../../../../.rvm/gems/ruby-2.4.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.4.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

<<<<<<< HEAD
/* line 32, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
=======
/* line 32, ../../../../.rvm/gems/ruby-2.4.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
a img {
  border: none;
}

<<<<<<< HEAD
/* line 116, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
=======
/* line 116, ../../../../.rvm/gems/ruby-2.4.2@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

<<<<<<< HEAD
/* line 6, ../sass/screen.scss */
=======
/* line 7, ../sass/screen.scss */
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
body {
  margin: 0;
  height: 100%;
  width: 100%;
<<<<<<< HEAD
  overflow: none;
}

/* line 13, ../sass/screen.scss */
=======
  overflow: hidden;
}

/* line 14, ../sass/screen.scss */
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
.blobCont {
  position: absolute;
  width: 100vw;
  height: 100vh;
<<<<<<< HEAD
  background: #000;
}

/* line 22, ../sass/screen.scss */
.blob {
  stroke-width: 5;
}

/* line 30, ../sass/screen.scss */
.blob:nth-child(1) {
  animation: move1 15s infinite ease-in-out;
=======
}

/* line 20, ../sass/screen.scss */
.blob {
  stroke: #FFF;
  stroke-width: 4;
}

/* line 28, ../sass/screen.scss */
.blob:nth-child(1) {
  animation: move1 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move1 {
  from {
    transform: rotate(90deg) translate(20vw, 0.1px) rotate(-90deg);
  }
  to {
    transform: rotate(450deg) translate(20vw, 0.1px) rotate(-450deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(2) {
  animation: move2 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(2) {
  animation: move2 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move2 {
  from {
    transform: rotate(180deg) translate(20vw, 0.1px) rotate(-180deg);
  }
  to {
    transform: rotate(540deg) translate(20vw, 0.1px) rotate(-540deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(3) {
  animation: move3 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(3) {
  animation: move3 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move3 {
  from {
    transform: rotate(270deg) translate(20vw, 0.1px) rotate(-270deg);
  }
  to {
    transform: rotate(630deg) translate(20vw, 0.1px) rotate(-630deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(4) {
  animation: move4 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(4) {
  animation: move4 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move4 {
  from {
    transform: rotate(360deg) translate(20vw, 0.1px) rotate(-360deg);
  }
  to {
    transform: rotate(720deg) translate(20vw, 0.1px) rotate(-720deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(5) {
  animation: move5 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(5) {
  animation: move5 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move5 {
  from {
    transform: rotate(450deg) translate(20vw, 0.1px) rotate(-450deg);
  }
  to {
    transform: rotate(810deg) translate(20vw, 0.1px) rotate(-810deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(6) {
  animation: move6 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(6) {
  animation: move6 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move6 {
  from {
    transform: rotate(540deg) translate(20vw, 0.1px) rotate(-540deg);
  }
  to {
    transform: rotate(900deg) translate(20vw, 0.1px) rotate(-900deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(7) {
  animation: move7 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(7) {
  animation: move7 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move7 {
  from {
    transform: rotate(630deg) translate(20vw, 0.1px) rotate(-630deg);
  }
  to {
    transform: rotate(990deg) translate(20vw, 0.1px) rotate(-990deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(8) {
  animation: move8 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(8) {
  animation: move8 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move8 {
  from {
    transform: rotate(720deg) translate(20vw, 0.1px) rotate(-720deg);
  }
  to {
    transform: rotate(1080deg) translate(20vw, 0.1px) rotate(-1080deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(9) {
  animation: move9 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(9) {
  animation: move9 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move9 {
  from {
    transform: rotate(810deg) translate(20vw, 0.1px) rotate(-810deg);
  }
  to {
    transform: rotate(1170deg) translate(20vw, 0.1px) rotate(-1170deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(10) {
  animation: move10 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(10) {
  animation: move10 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move10 {
  from {
    transform: rotate(900deg) translate(20vw, 0.1px) rotate(-900deg);
  }
  to {
    transform: rotate(1260deg) translate(20vw, 0.1px) rotate(-1260deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(11) {
  animation: move11 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(11) {
  animation: move11 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move11 {
  from {
    transform: rotate(990deg) translate(20vw, 0.1px) rotate(-990deg);
  }
  to {
    transform: rotate(1350deg) translate(20vw, 0.1px) rotate(-1350deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(12) {
  animation: move12 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(12) {
  animation: move12 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move12 {
  from {
    transform: rotate(1080deg) translate(20vw, 0.1px) rotate(-1080deg);
  }
  to {
    transform: rotate(1440deg) translate(20vw, 0.1px) rotate(-1440deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(13) {
  animation: move13 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(13) {
  animation: move13 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move13 {
  from {
    transform: rotate(1170deg) translate(20vw, 0.1px) rotate(-1170deg);
  }
  to {
    transform: rotate(1530deg) translate(20vw, 0.1px) rotate(-1530deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(14) {
  animation: move14 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(14) {
  animation: move14 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move14 {
  from {
    transform: rotate(1260deg) translate(20vw, 0.1px) rotate(-1260deg);
  }
  to {
    transform: rotate(1620deg) translate(20vw, 0.1px) rotate(-1620deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(15) {
  animation: move15 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(15) {
  animation: move15 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move15 {
  from {
    transform: rotate(1350deg) translate(20vw, 0.1px) rotate(-1350deg);
  }
  to {
    transform: rotate(1710deg) translate(20vw, 0.1px) rotate(-1710deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(16) {
  animation: move16 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(16) {
  animation: move16 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move16 {
  from {
    transform: rotate(1440deg) translate(20vw, 0.1px) rotate(-1440deg);
  }
  to {
    transform: rotate(1800deg) translate(20vw, 0.1px) rotate(-1800deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(17) {
  animation: move17 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(17) {
  animation: move17 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move17 {
  from {
    transform: rotate(1530deg) translate(20vw, 0.1px) rotate(-1530deg);
  }
  to {
    transform: rotate(1890deg) translate(20vw, 0.1px) rotate(-1890deg);
  }
}
<<<<<<< HEAD
/* line 30, ../sass/screen.scss */
.blob:nth-child(18) {
  animation: move18 15s infinite ease-in-out;
=======
/* line 28, ../sass/screen.scss */
.blob:nth-child(18) {
  animation: move18 15s infinite linear;
>>>>>>> 08c8e3150d2d2bfdc12f4e1b1760deeff8f8e1c9
}

@keyframes move18 {
  from {
    transform: rotate(1620deg) translate(20vw, 0.1px) rotate(-1620deg);
  }
  to {
    transform: rotate(1980deg) translate(20vw, 0.1px) rotate(-1980deg);
  }
}
